<launch>
	<node name="rebvo_node" pkg="rebvo" type="rebvo" output="screen" >
		<rosparam command="load" file="$(find rebvo)/config/rebvo_EuRoC.yaml"/>

        <param name="rebvo/imu_topic" value="/imu0"/>
        <param name="rebvo/image_topic" value="/cam0/image_raw"/>
        <param name="rebvo/frame_id" value="rebvo_frame"/>
        </node>


        <!-- Visualisation RVIZ -->
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rebvo)/resource/rebvo.rviz" output="screen"/>
</launch> 
